html{
    font-size: 62.6%;
}

body{
    font-family : Helbetica, Arial, sans-serif;
    font-size:$m-size;
    background: $light-purple;

}

button{
    cursor:pointer;
}

button:disabled{
    cursor:default;
}
